{% extends 'layout.html'%}

{% block content %}

<h1 class="text-center display-4 mt-3">Cadastrar / Alterar Equipe</h1>
<div class="container-fluid col-md-4 offset-4">

  <form action="/salvar_equipe" method="POST">
    <div class="form-group pt-5">
      <label for="">ID</label>
      <input type="number" class="form-control" name="id" readonly value="{{equipe[0] if 'id' in request.args.keys() else ''}}">
    </div>
    <div class="form-group">
      <label for="">Nome</label>
      <input type="text" class="form-control" name="nome" value="{{equipe[1] if 'id' in request.args.keys() else ''}}">
    </div>
    </select>

    <div class="form-group">
      <label for="">Linguagem</label>
      <select class="form-control" name="linguagem">
      {% for i in lista_ling %}
        <option value="{{i[1]}}">{{i[1]}}</option>
      {% endfor %}
      </select>
    </div>

    {% if ('id' in request.args.keys()) %}
    <input type="hidden" name="editar" value="1">
    <button type="submit" class="btn btn-success btn-block">Alterar</button>
    {% else %}
    <input type="hidden" name="salvar" value="2">
    <button type="submit" class="btn btn-success btn-block">Salvar</button>
    {% endif %}
  </form>
</div>



</div>


{% endblock %}